* {
  margin: 0;
}

.f-right-part {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  text-align: center;

}

.f-slcLogo {
  padding-bottom: 10px;
}

footer {
  position: relative;
  padding-top: 10px;
  background: linear-gradient(to right, rgb(0, 119, 255), rgb(37, 37, 173));
  padding-bottom: 10px;


}



.f-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.f-social-media a {
  text-decoration: none;
}

.f-quick-links {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.f-quick-links a {
  text-decoration: none;
}





.f-link-sets {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 20px;
}

.f-link-sets a:hover {
  color: black;
  opacity: 0.5;
  transition: 0.2s;
}






a {
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.f-main-content {

  display: flex;
  justify-content: space-between;
  align-items: center;

}



.f-sri-lanka-cricket{

  text-align: center;
  padding-bottom: 10px;
  color:whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  
}


.f-sponsers-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.f-sponsers-logos a:hover {

  opacity: 0.5;
  transition: 0.3s;

}

.f-official-sponsers {

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: whitesmoke;
  margin-bottom: 15px;

}

.f-sponsers {

  display: flex;
  flex-direction: column;
  align-items: center;

}