*{
  margin: 0;
}

.logos{

  display: flex;
  flex-direction: row;
  align-items:end;

}

.team-logos{

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  

}

.LPL2025{
  color:  rgb(239, 196, 16);
  font-family: Arial, Helvetica, sans-serif;
  font-weight:900;
  font-size: 35px;
  
  
}

.followUs{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: silver;

}

.year{
  color:rgb(28, 6, 51);
}

.team-logos-and-LPL025{

display: flex;
flex-direction:column;

}

.social-media{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.right-part{

display: flex;
flex-direction: column;
align-items: center;
margin-right: 5px;

}

header{
display: flex;
align-items: center;
justify-content: space-between;
background:linear-gradient(to right, rgb(0, 119, 255),rgb(37, 37, 173));
padding-bottom: 5px;

}
